@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Aurino Lins<br />
    linsaurino@gmail.com, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    81-99853.2198
</address>

					