@model app02.Models.Entidades.Titulo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Titulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-success"></div>
			<div class="form-group">
				<label asp-for="Documento" class="control-label"></label>
				<input asp-for="Documento" class="form-control" />
				<span asp-validation-for="Documento" class="text-success"></span>
			</div>
			<div class="form-group">
				<label asp-for="Valor" class="control-label"></label>
				<input asp-for="Valor" class="form-control" />
				<span asp-validation-for="Valor" class="text-success"></span>
			</div>
			<div class="form-group">
				<label asp-for="Emissao" class="control-label"></label>
				<input asp-for="Emissao" class="form-control" />
				<span asp-validation-for="Emissao" class="text-success"></span>
			</div>
			<div class="form-group">
				<label asp-for="Vencimento" class="control-label"></label>
				<input asp-for="Vencimento" class="form-control" />
				<span asp-validation-for="Vencimento" class="text-success"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente" class="control-label"></label>
				<select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
			</div>
			
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
